<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Разрешения (опционально, можно оставить) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Для доступа к installed apps -->
    <queries>
        <package android:name="*" />
    </queries>

    <!-- Пустой <application> обязателен даже в библиотеке -->
    <application />
</manifest>
